@use "../abstracts/index" as *;

#about {
  background-color: $color-primary;
}

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 2rem 3rem;
  position: relative;

  h1 {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  .about-photo {
    img {
      width: 20rem;
    }
  }

  .about-text {
    line-height: 2rem;

    p {
      letter-spacing: 0.01rem;
      font-weight: 300;
      font-size: 1.1rem;
    }

    .icons-container {
      margin-top: 1rem;
      font-size: 1.8rem;

      span {
        cursor: pointer;
        margin: 0 2px;
      }
    }
  }

  @include lg {
    flex-direction: row;
    padding: 3rem;

    .about-text {
      width: 60%;
    }
  }
}
