@use "../abstracts/index" as *;
@use "../components/index" as *;

#intro {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    bottom: -1px;
    background: $color-primary;
    height: 190px;
    width: 100%;
    clip-path: polygon(100% 2%, 39.25% 100%, 100% 100%);
  }

  .intro-container {
    @include flex-center;
    flex-direction: column;
    line-height: 1.5rem;
    padding: 7rem;

    h1 {
      margin-bottom: 0;
    }

    p {
      text-align: center;
    }

    button {
      margin: 0 0.2rem;
    }

    .icons-container {
      margin-top: 1rem;
      font-size: 1.8rem;

      span {
        cursor: pointer;
        margin: 0 2px;
      }
      svg {
        color: $color-secondary;
        transition: all 0.25s ease;

        &:visited {
          color: $color-secondary;
        }

        &:hover {
          color: $color-primary-darker;
        }
      }
    }
  }
}
