@use "../abstracts/index" as *;
@use "../components/index" as *;

#intro {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    bottom: -1px;
    background: $color-primary;
    height: 190px;
    width: 100%;
    clip-path: polygon(100% 2%, 39.25% 100%, 100% 100%);
  }

  .intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
    padding: 7rem;

    p {
      text-align: center;
    }

    .icons-container {
      margin-top: 1rem;
      font-size: 1.8rem;

      span {
        cursor: pointer;
        margin: 0 2px;
      }
    }
  }
}
