@use "../abstracts/index" as *;

#recent-works {
  background-color: $color-white;
  padding: 2rem 2rem;

  .works-header {
    h1 {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 1rem;
    }

    p {
      text-align: center;
      line-height: 1.5rem;
      margin: 0;
    }
  }
  .works-container {
    @include flex-center;
    flex-wrap: wrap;
    gap: 1rem 1rem;
    margin: 1.5rem auto;

    @include xl {
      max-width: 75%;
    }
  }
}
