@use "../abstracts/index" as *;

#work-experience {
  background-color: $color-secondary;
  color: $color-white;
  margin-top: -11rem;
  padding: 9rem 2rem 4rem;

  .work-exp-container {
    .section-label {
      flex: 0 0 30%;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 2rem;
    }

    .section-content {
      flex: 1;
      margin: 0;
    }

    @include lg {
      @include flex-center;

      flex-direction: row;
      padding: 7rem 2rem 0rem;
      .section-label {
        text-align: left;
      }
    }
  }

  .company {
    h2 {
      margin-bottom: 0.5rem;
      line-height: 2rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
    }
    p {
      margin: 0.5rem 0;
    }
  }

  .exp-container {
    display: block;
    text-align: center;

    &:not(:last-child) {
      border-bottom: 1px solid pink;
    }

    @include lg {
    }
  }

  .exp-desc {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    p {
      line-height: 1.6rem;
      text-align: center;
    }

    .companies {
      flex-direction: column;
      justify-content: center;
      padding-bottom: 2rem;

      img {
        width: 30%;
        height: unset;
        padding: 1rem 2rem;
      }

      img:nth-child(3) {
        height: unset;
      }

      @include lg {
        flex-direction: row;
        img {
          height: 5rem;
          width: unset;
          padding: 1rem 2rem;
        }
        img:nth-child(3) {
          height: 3rem;
        }
      }
    }
  }

  ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
    margin: 2rem 0 1rem;
    padding: 0;

    li {
      margin: 0.5rem;
      p {
        margin: 0.3rem;
        font-size: 1.1rem;
      }
      p:first-child {
        font-weight: bold;
        font-size: 1.3rem;
      }

      p:nth-child(2) {
        font-size: smaller;
        font-weight: 100;
      }
    }

    @include lg {
      flex-direction: row;
    }
  }

  @include md {
    padding: 8.5rem 2.5rem 3rem;
  }

  @include lg {
    padding: 2rem 2.5rem 3rem;
  }
}
