@use "./breakpoints" as *;
@use "./variables" as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin dmsans-header {
  font-family: $font-dmserif;
  letter-spacing: 1px;
  font-style: italic;
}

@mixin li-styles {
  margin: 0 0.5rem;
  list-style-type: none;
  text-decoration: none;
  color: $color-black;
  cursor: pointer;

  &:hover {
    color: $color-primary-darker;
    transition: 0.3s;
  }
}

// breakpoints
@mixin sm {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
}
