//Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Mulish:wght@400;600;700&display=swap");
$font-montserrat: "Montserrat", serif;
$font-mulish: "Mulish", serif;

//Colors
$color-white: #fcfaf8;
$color-primary: #96582f;
$color-secondary: #e9dad7;
$color-accent: #263742;
$color-black: #333333;
