@use "../abstracts/index" as *;

#footer {
  background-color: $color-white;
  font-size: smaller;
  font-weight: 200;
  padding: 1rem;

  ul {
    @include flex-center;
    list-style-type: none;
    margin: 0;

    li {
      @include li-styles;
      text-transform: uppercase;
      font-weight: 300;
    }
  }

  .copyright-container {
    @include flex-center;

    p {
      margin: 0.5rem;
    }
  }

  svg {
    font-size: x-small;
    margin: 0 2px;
  }
}
