@use "../abstracts/index" as *;

nav {
  padding: 1.5rem 3rem;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: $font-montserrat;

  ul {
    display: flex;

    li {
      margin: 0 10px;
      list-style-type: none;
    }
  }

  a {
    font-size: 15px;
    text-decoration: none;
    color: $color-black;
    &:hover {
      color: $color-secondary;
      transition: 0.3s;
    }
  }
}

.test {
  color: $color-accent;
}
