@use "../abstracts/index" as *;

nav {
  position: sticky;
  top: 0;
  z-index: 3;
  opacity: 90%;
  padding: 1.5rem 2.5rem;
  margin-top: 0.5rem;
  font-size: 15px;

  &.is-sticky {
    background-color: $color-white;
  }

  .navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: $font-montserrat;
    position: relative;

    img {
      width: 6rem;
      cursor: pointer;

      &:hover {
        filter: invert(70%) sepia(30%) saturate(384%) hue-rotate(315deg)
          brightness(91%) contrast(84%);
      }
      transition: 0.3s;
    }

    ul {
      display: none;

      li {
        @include li-styles;
      }

      @include md {
        display: flex;
      }
    }
  }

  @include md {
    padding: 0.5rem 3rem;
  }
}
